body {
  background: #333;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  margin: 0;
}

#main-canvas {
  width: 100vw;
  height: 100vh;
}

.main-menu,
.main-gui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  transition: opacity 0.5s;
}

.main-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: space-around;
  padding: 2rem;

  background: radial-gradient(#3333, #000a);
  color: white;
}

.main-menu img {
  border-radius: 1rem;
}

.main-menu h1 img {
  height: 15vh;
}

.main-menu .play-button img {
  height: 25vh;
}

.main-menu .secondary-buttons img {
  width: 10vh;
  height: 10vh;
}

.main-menu button {
  background: none;
  border: none;
}

.main-menu button img {
  box-shadow: 0 5px 20px #000a;
  transition: box-shadow 0.1s;
}

.main-menu button:hover img,
.main-menu button:focus img {
  box-shadow: 0 10px 20px #000a;
}

.main-gui {
  opacity: 0;
}

.main-gui #pallet {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  padding: 1em;
  border-radius: 0 1em 1em 0;

  background: #3335;
  box-shadow: 0 0 0.2em 0.5em #3335;
}
